<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>账户收支汇总</title>

<link rel="stylesheet" href="../../src/layui/css/layui.css">

<style>
body {
	padding: 10px; /*overflow-y: scroll;*/
}
</style>
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header" style="padding: 0px;"
				lay-filter="layui-form-search">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">账号</label>
						<div class="layui-input-inline">
							<select name="acctNo" lay-verify="">
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">统计类型</label>
						<div class="layui-input-inline" style="width:100px;">
							<select name="type" lay-verify="required" lay-filter="report-type" id="type">
								<option value="1">按日统计</option>
								<option value="2" selected='selected'>按月统计</option>
							</select>
						</div>
					</div>

					<div class="layui-inline" id="date-range" style="display:none">
						<label class="layui-form-label">起止日期</label>
						<div class="layui-input-inline" style="width:100px;">
							<input type="text" class="layui-input" id="date3"
								name="beginDate" placeholder="开始日期">
						</div>
						<div class="layui-form-mid">-</div>
						<div class="layui-input-inline" style="width:100px;">
							<input type="text" class="layui-input" id="date4"
								name="endDate" placeholder="结束日期">
						</div>
					</div>
					<div class="layui-inline" id="month-range">
						<label class="layui-form-label">起止月份</label>
						<div class="layui-input-inline" style="width:100px;">
							<input type="text" class="layui-input" id="date1"
								name="beginMonth" placeholder="开始月份">
						</div>
						<div class="layui-form-mid">-</div>
						<div class="layui-input-inline" style="width:100px;">
							<input type="text" class="layui-input" id="date2"
								name="endMonth" placeholder="结束月份">
						</div>
					</div>

					<div class="layui-inline">
						<button class="layui-btn" lay-submit lay-filter="LAY-btn-search">
							<i class="layui-icon layui-icon-search"></i>
						</button>
					</div>
				</div>
			</div>

			<div class="layui-card-body">
				<script type="text/html" id="table-toolbar">
  		<div class="layui-btn-container">
    		<button class="layui-btn layui-btn-sm" lay-event="export"><i class="layui-icon layui-icon-table"></i>导出</button>
    	</div>
		</script>
				<table id="table-data" lay-filter="table-data"></table>

			</div>
		</div>
	</div>
	<script src="../../src/layui/layui.js"></script>
	<script>
		layui.config({
			base : '../../src/js/'
		}).use('acct_in_out_hist/list');

		layui.use('laydate', function() {
			var laydate = layui.laydate;

			//常规用法
			laydate.render({
				elem : '#date1',
				type : 'month',
				format : 'yyyyMM',
				value: new Date().getFullYear()+"01"
			});
			laydate.render({
				elem : '#date2',
				type : 'month',
				format : 'yyyyMM',
				value: new Date()
			});
			laydate.render({
				elem : '#date3',
				format : 'yyyyMMdd',
				value: new Date().getFullYear()+"0101"
			});
			laydate.render({
				elem : '#date4',
				format : 'yyyyMMdd',
				value: new Date()
			});

		});
	</script>
</body>
</html>
