<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加账户</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="../../src/layui/css/layui.css">
<link rel="stylesheet" href="../../src/css/form.css">

<style>
body {
	padding: 10px;
}
</style>
</head>
<body>

	<div class="layui-form" lay-filter="layui-form" id="layui-form"
		style="padding: 20px 30px 0 0;">
		<input type="hidden" name="id">
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">借贷标志</label>
			<div class="layui-input-inline">
				<input type="text" name="drcrf" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">借方发生额</label>
			<div class="layui-input-inline">
				<input type="text" name="debitAmount" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">贷方发生额</label>
			<div class="layui-input-inline">
				<input type="text" name="creditAmount" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">余额</label>
			<div class="layui-input-inline">
				<input type="text" name="balance" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">对方行号</label>
			<div class="layui-input-inline">
				<input type="text" name="recipBkNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">对方行名</label>
			<div class="layui-input-inline">
				<input type="text" name="recipBkName" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">对方账号</label>
			<div class="layui-input-inline">
				<input type="text" name="recipAccNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">对方户名</label>
			<div class="layui-input-inline">
				<input type="text" name="recipName" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">摘要</label>
			<div class="layui-input-inline">
				<input type="text" name="summary" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">  用途</label>
			<div class="layui-input-inline">
				<input type="text" name="useCN" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label"> 附言</label>
			<div class="layui-input-inline">
				<input type="text" name="postScript" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">业务代码</label>
			<div class="layui-input-inline">
				<input type="text" name="busCode" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">交易日期</label>
			<div class="layui-input-inline">
				<input type="text" name="date" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">时间戳</label>
			<div class="layui-input-inline">
				<input type="text" name="time" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">业务编号</label>
			<div class="layui-input-inline">
				<input type="text" name="ref" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">相关业务编号</label>
			<div class="layui-input-inline">
				<input type="text" name="oref" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">英文备注</label>
			<div class="layui-input-inline">
				<input type="text" name="enSummary" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">业务种类</label>
			<div class="layui-input-inline">
				<input type="text" name="busType" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证种类</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhType" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">附加信息</label>
			<div class="layui-input-inline">
				<input type="text" name="addInfo" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">电子回单唯一标识</label>
			<div class="layui-input-inline">
				<input type="text" name="toutfo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">银行交易流水号</label>
			<div class="layui-input-inline">
				<input type="text" name="onlySequence" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">财务公司二级账户户名（资金池次要对手账号户名）</label>
			<div class="layui-input-inline">
				<input type="text" name="agentAcctName" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		//以下還沒弄
		
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">账户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="acctId" lay-verify="required"
					 autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">凭证号</label>
			<div class="layui-input-inline">
				<input type="text" name="vouhNo" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		
		
	</div>

	<script src="../../src/layui/layui.js"></script>
	<script>
		layui.config({
			base : '../../src/js/'
		}).use('accttranhist/form');
	</script>
</body>
</html>