<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>角色管理</title>

<link rel="stylesheet" href="../../src/layui/css/layui.css">

<style>
body{padding: 10px; /*overflow-y: scroll;*/}
</style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header" style="padding:0px;" lay-filter="layui-form-search">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">角色代码</label>
            <div class="layui-input-block">
              <input type="text" name="code" placeholder="请输入角色代码" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入角色名" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn" lay-submit lay-filter="LAY-btn-search">
              <i class="layui-icon layui-icon-search"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">

		<table id="table-data" lay-filter="table-data"></table>

	  </div>
	</div>
</div>
<script src="../../src/layui/layui.js"></script>
<script>
layui.config({
    base: '../../src/js/'
  }).use('role/list');
</script>
</body>
</html>
