<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>账户余额查询</title>

<link rel="stylesheet" href="../../src/layui/css/layui.css">

<style>
body{padding: 10px; /*overflow-y: scroll;*/}
</style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body">
				<script type="text/html" id="table-toolbar">
  		<div class="layui-btn-container">
    		<button class="layui-btn layui-btn-sm" lay-event="export"><i class="layui-icon layui-icon-table"></i>导出</button>
    	</div>
		</script>
	
		<table id="table-data" lay-filter="table-data"></table>

	  </div>
	</div>
</div>
<script src="../../src/layui/layui.js"></script>
<script>
layui.config({
    base: '../../src/js/'
  }).use('acct_balance/list');
  
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //常规用法
  laydate.render({
    elem: '#date1'
  });
  laydate.render({
	    elem: '#date2'
	  });

});

</script>
</body>
</html>
