<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.local.AcctQueryHistDAO">
	<resultMap id="BaseResultMap" type="AcctQueryHist">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="acct_no" property="acctNo" jdbcType="VARCHAR" />
		<result column="query_date" property="queryDate"
			jdbcType="VARCHAR" />
		<result column="is_not_download" property="isNotDownload"
			jdbcType="VARCHAR" />
		<result column="user_code" property="userCode"
			jdbcType="VARCHAR" />
		<result column="user_name" property="userName"
			jdbcType="VARCHAR" />
		<result column="create_date" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<!-- 数据库列列表 -->
	<sql id="Base_Column_List">
		id, acct_no, query_date,
		is_not_download, user_code,
		user_name, create_date, modify_date
	</sql>
	<!-- 插入AcctTranHist到数据库 -->
	<insert id="insert" parameterType="AcctQueryHist"
		keyProperty="id">
		insert
		into acct_query_hist(acct_no, query_date,
		is_not_download, user_code,
		user_name, create_date)
		values(#{acctNo,jdbcType=VARCHAR},
		#{queryDate,jdbcType=VARCHAR},
		#{isNotDownload,jdbcType=VARCHAR},
		#{userCode,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP})
	</insert>

	<!-- 批量插入到数据库 -->
	<insert id="insertBatch">
		insert
		into acct_query_hist(acct_no, query_date, is_not_download,
		user_code, user_name, create_date)
		values
		<foreach collection="lists" index="index" item="item"
			separator=",">
			(#{item.acctNo,jdbcType=VARCHAR},
			#{item.queryDate,jdbcType=VARCHAR},
			#{item.isNotDownload,jdbcType=VARCHAR},
			#{item.userCode,jdbcType=VARCHAR},
			#{item.userName,jdbcType=VARCHAR},
			#{item.createDate,jdbcType=TIMESTAMP})
		</foreach>
	</insert>

	<!-- 更新AcctTranHist到数据库 -->
	<update id="update" parameterType="AcctQueryHist">
		update acct_query_hist
		set
		modify_date=#{modifyDate,jdbcType=TIMESTAMP}
		<if test="isNotDownload != null and isNotDownload != ''">
			, is_not_download = #{isNotDownload}
		</if>
		where id=#{id}
	</update>

	<!-- 获得数据集合 -->
	<select id="selectList" parameterType="java.util.HashMap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acct_query_hist
		where 1=1
		<if test="acctNo != null">
			and acct_no = #{acctNo}
		</if>
		<if test="beginDate != null and beginDate != ''">
			<![CDATA[ 
				and query_date >= #{beginDate}
			]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[ 
				and query_date <= #{endDate}
			]]>
		</if>
		<if test="isNotDownload != null and isNotDownload != ''">
			and is_not_download = #{isNotDownload}
		</if>
		order by acct_no,query_date
	</select>

	<select id="selectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from acct_query_hist
		<where>
			<if test="acctNo != null and acctNo != ''">
				and acct_no = #{acctNo}
			</if>
			<if
				test="beginDate != null and beginDate != '' and endDate != null and endDate != ''">
				and query_date between #{beginDate} and #{endDate}
			</if>
		</where>
	</select>
</mapper>