<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.local.DataMoveTemplateDAO">
	<resultMap id="BaseResultMap" type="DataMoveTemplate">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="is_use" property="isUse" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate"
			jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />

	</resultMap>
	<!-- 数据库列列表 -->
	<sql id="Base_Column_List">
		id, name, status, is_use, create_date, modify_date, remark
	</sql>
	<!-- 插入DataMoveTemplate到数据库 -->
	<insert id="insert" parameterType="DataMoveTemplate"
		keyProperty="id">
		insert
		into data_move_template(name, status, is_use,
		create_date)
		values(#{name,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{isUse,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP})
	</insert>

	<!-- 更新DataMoveTemplate到数据库 -->
	<update id="update" parameterType="DataMoveTemplate">
		update data_move_template
		set
		modify_date=#{modifyDate,jdbcType=TIMESTAMP}
		<if test="name != null and name != ''">
			, name = #{name}
		</if>
		<if test="status != null and status != ''">
			, status = #{status}
		</if>
		<if test="isUse != null and isUse != ''">
			, is_use = #{isUse}
		</if>
		where id=#{id}
	</update>

	<!-- 通过DataMoveTemplate的id获得DataMoveTemplate对象 -->
	<select id="selectByPrimaryKey" parameterType="long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from data_move_template
		where id=#{id}
	</select>

	<!-- 获得DataMoveTemplate数据集合 -->
	<select id="selectList" parameterType="java.util.HashMap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from data_move_template
		where 1=1
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="isUse != null and isUse != ''">
			and is_use = #{isUse}
		</if>
		order by id
	</select>
</mapper>