<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.local.SysMenuDAO">
	<resultMap id="BaseResultMap" type="SysMenu">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId"
			jdbcType="BIGINT" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="rank" property="rank" jdbcType="INTEGER" />
	</resultMap>
	<!-- 数据库列列表 -->
	<sql id="Base_Column_List">
		sm.id, sm.name, sm.parent_id, sm.url, sm.icon, sm.rank
	</sql>

	<!-- 获得数据集合 -->
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_menu sm
		where 1=1
		order by rank
	</select>

	<!-- 获得数据集合 -->
	<select id="selectListByParentIdAndRoleId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_menu sm
		where 1=1
		<if test="parentId != null">
			and parent_id=#{parentId}
		</if>
		and exists (
		select * from sys_role_relation srr
		where srr.type='RM'
		and srr.relation_id=sm.id
		and srr.role_id in
		<foreach collection="roles" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
		)
		order by rank
	</select>

	<!-- 获得SysMenu数据集合 -->
	<select id="selectMenuByRoleId" resultMap="BaseResultMap">
		select sm.id, sm.name,
		sm.parent_id, sm.url, sm.icon, sm.rank
		from
		sys_role_relation srr,
		sys_menu sm
		where srr.relation_id=sm.id
		and
		srr.type='RM' and
		srr.role_id=#{roleId}
	</select>
</mapper>