<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.local.VoucherTemplateDetailDAO">
	<resultMap id="BaseResultMap" type="VoucherTemplateDetail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="template_id" property="templateId"
			jdbcType="BIGINT" />
		<result column="data_type" property="dataType"
			jdbcType="VARCHAR" />
	</resultMap>
	<!-- 数据库列列表 -->
	<sql id="Base_Column_List">
		id, template_id, data_type
	</sql>
	<!-- 批量插入VoucherTemplateDetail到数据库 -->
	<insert id="insertBatch">
		insert
		into voucher_template_detail(template_id,
		data_type)
		values
		<foreach collection="lists" index="index" item="item"
			separator=",">
			(#{item.templateId},#{item.dataType})
		</foreach>
	</insert>

	<!-- 删除VoucherTemplateDetail中的数据 -->
	<delete id="deleteByTemplateId" parameterType="long">
		delete from
		voucher_template_detail
		where template_id=#{templateId}
	</delete>

	<!-- 获得数据集合 -->
	<select id="selectList" parameterType="java.util.HashMap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from voucher_template_detail
		where 1=1
		<if test="templateId != null">
			and template_id=#{templateId}
		</if>
	</select>

</mapper>