<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>详情</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="../../src/layui/css/layui.css">
<link rel="stylesheet" href="../../src/css/form.css">

<style>
body {
	padding: 10px;
}
</style>
</head>
<body>

	<div class="layui-form" lay-filter="layui-form" id="layui-form"
		style="padding: 20px 30px 0 0;">
		<input type="hidden" name="id">
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">账号</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="acctNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">drcrf</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="drcrf"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">vouhNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="vouhNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">debitAmount</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="debitAmount"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">creditAmount</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="creditAmount"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">balance</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="balance"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">recipBkNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="recipBkNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">recipBkName</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="recipBkName"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">recipAccNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="recipAccNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">recipName</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="recipName"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">summary</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="summary"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">useCN</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="useCN"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">postScript</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="postScript"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">busCode</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="busCode"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">date</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="date"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">time</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="time"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">ref</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="ref"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">oref</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="oref"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">enSummary</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="enSummary"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">busType</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="busType"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">vouhType</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="vouhType"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">addInfo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="addInfo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">toutfo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="toutfo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">onlySequence</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="onlySequence"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">agentAcctName</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="agentAcctName"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">agentAcctNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="agentAcctNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">upDtranf</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="upDtranf"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">valueDate</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="valueDate"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">trxCode</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="trxCode"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">ref1</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="ref1"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">oref1</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="oref1"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">cASHF</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="cASHF"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">busiDate</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="busiDate"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">busiTime</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="busiTime"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">seqNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="seqNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">mgNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="mgNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">mgAccNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="mgAccNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">mgCurrType</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="mgCurrType"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">cashExf</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="cashExf"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">detailNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="detailNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">remark</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="remark"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">tradeTime</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="tradeTime"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">tradeFee</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="tradeFee"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">tradeLocation</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="tradeLocation"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">exRate</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="exRate"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">forCurrtype</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="forCurrtype"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">enAbstract</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="enAbstract"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">openBankNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="openBankNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">openBankBIC</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="openBankBIC"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">openBankName</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="openBankName"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">subAcctSeq</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="subAcctSeq"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">tHCurrency</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="tHCurrency"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">recipBkName1</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="recipBkName1"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">recipBkNo1</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="recipBkNo1"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">tInfoNew</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="tInfoNew"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">refundMsg</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="refundMsg"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">busTypNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="busTypNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">receiptInfo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="receiptInfo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">telNo</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="telNo"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">mDCARDNO</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="mDCARDNO"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">trxAmt</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="trxAmt"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">trxCurr</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="trxCurr"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">currType</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="currType"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">下载方式</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="downType"></span>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label"
				style="padding: 0px 15px; font-weight: bold;">创建日期</label>
			<div class="layui-input-block"
				style="min-width: 200px; padding-top: 3px;">
				<span name="create_date"></span>
			</div>
		</div>
	</div>

	<script src="../../src/layui/layui.js"></script>
	<script>
		layui.config({
			base : '../../src/js/'
		}).use('acct_tran_hist/detail');
	</script>
</body>
</html>